<div class="m-list m-ent-lst u-tablelist">
    <div class="list-main">
        <div class="list-header">
            <div class="header-opts">
                <!--<button class="u-btn-blue auth">授权</button>
                <button class="deauth">取消授权</button>-->
                <button class="export-file" data-state="support">导出企业试用应用列表</button>
            </div>
            <h3>
                企业列表
            </h3>
        </div>
        <div class="list-bar">
            <div class="list-bar-btns">
                <button id="btnSearch" class="btn-blue">查询</button>
            </div>
            <div class="list-bar-input">
                <label>
                    <span>企业名称</span>
                    <input id="eiName" class="g-ipt ipt-m"  type="text" ce-model="en"/>
                </label>
                <label>
                    <span>企业帐号</span>
                    <input id="eiAccount" class="g-ipt ipt-m" type="text" ce-model="ea"/>
                </label>
                <label>
                    <span>所属部门/代理商</span>
                    <input type="text" ce-model="departmentName">
                </label>
                <label>
                    <span>企业状态</span>
                    <select ce-model="enterpriseStatus" name="entstatus"></select>
                </label>
                <label>
                    <span>销售负责人(创建人)</span>
                    <input id="creatorName" class="g-ipt ipt-m" type="text" ce-model="creatorName" maxlength=20/>
                </label>
                <label>
                    <span>优惠码</span>
                    <input type="text" onchange="this.value=this.value.replace(/\D/g,'')" maxlength=8 ce-model="vendorId" >
                </label>
                <label>
                    <span>超出数量预警</span>
                    <select ce-model="isOverLimitWarn">
                        <option value="">全部</option>
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </label>
                <label>
                    <span>是否自注册</span>
                    <select ce-model="isSelfRegister">
                        <option value="">全部</option>
                        <option value="1">是</option>
                        <option value="0">否</option>
                    </select>
                </label>
                <label><span>企业类型</span>
                    <select ce-model="enterpriseType">
                        <option value="">全部</option>
                        <option value="">开源</option>
                        <option value="">付费</option>
                        <option value="">免费</option>
                        <option value="">未续费</option>
                    </select>
                </label>
                <label><span>企业标签</span>
                    <select ce-model="enterpriseTag">
                        <option value="">全部</option>
                        <option value="">资源客户</option>
                        <option value="">续办公版</option>
                        <option value="">楼宇客户</option>
                    </select>
                </label>
                <label><span>续费提醒</span>
                    <select ce-model="renewal">
                        <option value="">全部</option>
                        <option value="">部分产品过期</option>
                        <option value="">全部产品过期</option>
                        <option value="">产品即将过期</option>
                    </select>
                </label>
            </div>
        </div>
        <div class="list-content">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th style="width:20px;" data-permissions="M008009060 M009006100"><input type="checkbox" class="selectall"></th>
                    <th style="width:170px;">企业名称</th>
                    <th style="width:190px;">企业帐号</th>
					<th style="width:190px;">所属部门/代理商</th>
                    <th style="width:190px;">销售负责人(创建人)</th>
                    <th style="width:80px">是否自注册</th>
                    <th style="width:200px;">企业类型</th>
                    <th style="width:200px;">企业状态</th>
                    <th style="width:160px;">超出数量预警</th>
                    <th style="width:200px;">操作</th>
                    <th></th>
                </tr>
                </thead>
                <tbody ce-collection="list">
                    <td></td>
                    <td data-permissions="M008009060 M009006100"><input type="checkbox" class="selectitem" value="<%=item.csmEnterprise.enterpriseID%>"></td>
                    <td><%=item.csmEnterprise.enterpriseName%></td>
                    <td><%=item.csmEnterprise.enterpriseAccount%></td>
					<td><%=item.agent ? item.agent.name:''%> </td>
					<td><%=item.creator ? item.creator.name:'--'%></td>
					<td><%=item.isSelfRegister ? '是':'否'%></td>
                    <td><%=item.entTypeStr%></td>
                    <td><%=item.entStatusStr%></td>
                    <td><%=item.isOverLimitWarnStr%></td>
                    <td data-status="<%=item.csmEnterprise.runStatus%>">
                        
                        <a class="info-detail" data-entname="<%=item.csmEnterprise.enterpriseName%>" data-id="<%=item.csmEnterprise.enterpriseID%>" data-account="<%=item.csmEnterprise.enterpriseAccount%>">查看</a>
                        <a class="info-trace" data-state="agent" data-id="<%=item.csmEnterprise.enterpriseID%>" data-account="<%=item.csmEnterprise.enterpriseAccount%>">跟踪记录</a>
                        <%if(item.canIncrease){%>
                        <a class="info-renew" data-entname="<%=item.csmEnterprise.enterpriseName%>" data-id="<%=item.csmEnterprise.enterpriseID%>" data-account="<%=item.csmEnterprise.enterpriseAccount%>" data-permissions="M009006030 M008009100">增购/续费</a>
                        <%}else{%>
                        <a style="color:#ccc;" data-permissions="M009006030 M008009100">增购/续费</a>&nbsp;&nbsp;
                        <%}%>
                        <%if(item.canEditPartner == 1||item.canEditPartner == "1"){%>
						<a class="info-custom"  data-enterpriseId="<%=item.csmEnterprise.enterpriseID%>">联合跟进人</a>&nbsp;&nbsp;
						<%}else{%>
						<a  style="color:#ccc;">联合跟进人</a>&nbsp;&nbsp;
						<%}%>
                        <% if(item.clueId) { %>
                            <a class="info-clue" data-clue="<%=item.clueId%>">线索</a>
                        <% } %>
                    </td>
                    <td></td>
                </tbody>
            </table>
        </div>
    </div>
    <div class="list-pager">
        <p class="buttons" data-permissions="M008009060 M009006100">
            <button class="btn-transfer btn-blue">转移企业</button>
            <!--<button class="btn-sandbox">沙盒设置</button>-->
        </p>
        <p class="pages"></p>
    </div>
</div>
