<div class="u-tablelist m-invoiceapplyagent">
    <div class="list-main">
        <div class="list-header">
            <h3>
                <span class="title">发票审批</span>
                <button class="export" data-state="finance">导出发票</button>
                <span class="toggle"><b data-permissions="M009016001,M008032001" class="active" data-type="wait">待审核发票</b><b data-permissions="M009016011,M008032011" data-type="end">已审核发票</b><b data-type="refuse"  data-permissions="M009016007,M008032007">驳回发票</b></span>
            </h3>
        </div>
        <div class="list-bar">
            <div class="list-bar-btns">
                <button class="btn-blue btn-search" data-permissions="M009016012,M009016008,M009016002,M008032002,M008032012,M008032008">查询</button>
            </div>
            <div class="list-bar-input">
                <label>
                    订单号
                    <input type="text" ce-model="orderId" maxlength=8/>
                </label>
                <label>
                    合同号
                    <input type="text" ce-model="contractNo">
                </label>
                <label>
                    企业名称
                    <input type="text" ce-model="enterpriseName">
                </label>
                <label>
                    企业账号
                    <input type="text" ce-model="enterpriseAccount">
                </label>
                <label>
                    订单类型
                    <select name="orderType" ce-model="orderType">
                        <option value="">全部</option>
                        <option value="1">新增</option>
                        <option value="2">续费</option>
                        <option value="3">增购</option>
                        <option value="4">收尾款</option>
                    </select>
                </label>
                <label>
                    提单人
                    <input type="text" ce-model="applicantName">
                </label>
                <label>
                    审核状态
                    <select name="shenhezhuangtai" ce-model="approvalStatus">
                        <option value="">全部</option>
                        <option value="2">已通过</option>
                        <option value="3">待审核</option>
                        <option value="4">已过期</option>
                    </select>
                </label>
                <label>
                    付费状态
                    <select name="ffzt" ce-model="payStatus">
                        <option value="">全部</option>
                        <option value="1">全款</option>
                        <option value="2">分期</option>
                        <option value="3">未付</option>
                    </select>
                </label>
                <br/>
                <label>
                    发票性质
                    <select name="ffzt" ce-model="invoiceProp">
                        <option value="">全部</option>
                        <option value="1">到款开票</option>
                        <option value="2">预开发票</option>
                    </select>
                </label>
                <label>
                    发票类型
                    <select name="ffzt" ce-model="invoiceType">
                        <option value="">全部</option>
                        <option value="1">增值税普通发票</option>
                        <option value="2">增值税专用发票</option>
                    </select>
                </label>
                <label>
                    发票申请日期
                    <input type="text" id="startTime" onClick="WdatePicker({dateFmt:'yyyy/MM/dd'})">
                </label>
                ——
                <label>
                    <input type="text" id="endTime" onClick="WdatePicker({dateFmt:'yyyy/MM/dd'})">
                </label>
            </div>
        </div>
        <div class="list-content">
            <table>
                <thead>
                <tr>
                    <th></th>
                    <th style="width:100px;">订单号</th>
                    <th style="width:100px;">合同号</th>
                    <th style="width:100px;">企业名称</th>
                    <th style="width:100px;">账号</th>
                    <th style="width:100px;">订单类型</th>
                    <th style="width:100px;">提单人</th>
                    <th style="width:100px;">付费状态</th>
                    <th style="width:100px;">发票类型</th>
                    <th style="width:100px;">发票性质</th>
                    <th style="width:100px;">收款账户</th>
                    <th style="width:100px;">发票申请日期</th>
                    <th style="width:100px;">操作</th>
                    <th></th>
                </tr>
                </thead>
                <tbody ce-collection="list">
                <tr>
                    <td></td>
                    <td><%=item.orderId%></td>
                    <td><%=item.contractNo%></td>
                    <td><%=item.enterpriseName%></td>
                    <td><%=item.enterpriseAccount%></td>
                    <td><%=IBSS.OrderTypeMap[item.orderType]%></td>
                    <td><%=item.applicantName%></td>
                    <td><%=item.payStatusStr%></td>
                    <td><%=item.invoiceTypeStr%></td>
                    <td><%=item.invoicePropStr%></td>
                    <td><%=item.receiptsAccount%></td>
                    <td><%=item.applyTimeStr%></td>
                    <td>
                        <% if( item.canCancel ){ %>
                            <a class="revoke" data-insid="<%=item.processInstanceId%>" data-state="agent" data-permissions="M009016004,M008032004">撤回</a>
                        <% } %>
                        <a class="detail" data-inid="<%=item.invoiceId%>" data-permissions="M009016013,M009016009,M009016003,M008032013,M008032009,M008032003">
                            查看
                        </a>
                        <a class="expressdetail" data-inid="<%=item.invoiceId%>" data-permissions="M009016014,M008032014">
                            快递
                        </a>
                    </td>
                    <td></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="list-pager">
    </div>
</div>
