<script type="text/template" id="trEme">
    <% _.each(content,function( value ,index ){ %>
    <tr>
        <td></td>
        <td><%=value.enterpriseaccount%></td>
        <td><%=value.enterprisename%></td>
        <td><%=value.employeename%></td>
        <td><%=value.mobile%></td>
        <td><%=value.email%></td>
        <td><%=value.post%></td>
        <td><%=value.isadmin ? '是' : '否'%></td>
		<td><%=value.isstop ? '停用' : '启用'%></td>
        <td><em class="resetpwd" data-id="<%=value.employeeid%>" 
                                 data-account="<%=value.enterpriseaccount%>">重置密码</em>
            <em class="accountdetail" data-id="<%=value.employeeid%>" data-account="<%=value.enterpriseId%>">查看帐号详情</em>
            <% if(!value.isadmin){%>
                <em class="up" data-id="<%=value.employeeid%>" data-account="<%=value.enterpriseaccount%>">提升为管理员</em></td>
            <% }%>
        <td></td>
    </tr>
    <% }) %>
</script>

<script type="text/template" id="resetWord">
    <div class="m-resetword">
        <p><label><span>新密码</span><input type="password" class="password"  maxlength="20"></label></p>
        <p class="tip">（密码应为6-20位半角字符(字母、数字、符号),且必须包含字母、数字和符号）</p>
        <p><label><span>确认新密码</span><input type="password" class="repeatpassword"  maxlength="20"></label></p>
        <p><button class="btn-blue">确定</button></p>
    </div>
</script>

<script type="text/template" id="accountDetail">
    <div class="m-accountdetail">
        <p><label><span>版本</span><input type="text" disabled="disabled" ce-model="version"></label></p>
        <p><label><span>是否试用</span><select disabled="disabled" ce-model="istry"><option value="1">是</option><option value="0">否</option></select></label></p>
        <p class="trytimep"><label><span>试用截止时间</span><input type="text" disabled="disabled" ce-model="endtime"></label></p>
        <p class="tryboxp"><label><span>试用包</span><span ce-collection="trylist" class="trybox"><b><%=item%>天</b></span></p>
    </div>
</script>


