.multiple-select {
  width: 217px;
}

.multiple-select-long {
  width: 600px;
}

//文件指令容器样式
.input-file-container {
  overflow: hidden;
  &.x.x.x .file-field {
    border: 1px solid red;
  }
  .file-field{
    width:475px;
  }
}

.enterprise-panel {
  //.form.ng-invalid {
  //  border: 3px solid red;
  //}
  .inline-block {
    display: inline-block;
  }
  .textarea-m {
    width: 600px;
    height: 100px;
  }
  .form .ng-pristine.ng-dirty.ng-invalid:not(.form) {
    border: 1px solid deepskyblue;
  }
  .ng-invalid {

  }
  .form .form-field .ng-invalid.ng-dirty:not(.form) {
    border: 1px solid red;
  }
  .step_validate_error .ng-invalid {
    border: 1px solid red;
  }
  .form .ng-dirty:not(.form) {
    border: 1px solid lawngreen;
  }
  input[type=text]{
    width: 260px;
    &.input-l {
      width: 600px;
    }
    //&[number]{
    //  width:100px;
    //}
  }
  .multiple-select.input-l {
    width: 600px;
  }
  input.readonly, textarea.readonly {
    border: 1px solid #dddddd;
    background-color: #f4f4f4;
  }
  .panel-button {
    .save {
      background-color: #45a4f2;
      border: 1px #2896f0 solid;
      color: #fff;
    }
    .saving {
      &::after {
        content: '...'
      }
      background-color: gray;
      border: 1px solid white;
    }
  }
  .step {
    //padding-left: 150px;
    transition: width 2s;
  }
  h1 {
    font-size: 18px;
    font-weight: 800;
    color: #4a3333;
    font-family: "Comic Sans MS", "幼圆", "黑体", sans-serif;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    color: #4a3333;
    text-indent: 12px;
  }
  .top-bar {
    width: 80%;
    border: 2px solid #cccccc;
    background-color: #f2f2f2;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: black;
  }
  .panel-button {
    over-flow: hidden;
    text-align: center;
    padding: 5px;
  }
  .form.payinfo .form-row label:first-child:not(.fenqi-label) {
    width: 220px;
  }
  .form {
    .product-info-group {
      width: 90%;
      border: 2px solid #cccccc;
      margin: 0 auto;
      padding: 10px;
      background-color: #f2f2f2;
    }
    .form-row {

      margin-top: 5px;
      overflow: hidden;
      .form-field {
        float: left;
      }

      .inputs-container {
        overflow: hidden;
        float: left;
        height: auto;
        max-width: 1000px;
        width: 100%;
        .fenqi-label {
          display: inline-block;
           width: 240px;
          text-align: right;
          margin-top: 3px;
          span::after {
            content: ''
          }
        }
        input{
          width:100px;
        }
      }
      label:first-child:not(.fenqi-label) {
        span::after {
          content: ':'
        }
        display: inline-block;
        width: 150px;
        text-align: right;
        &.required::after {
          content: '*';
          color: red;
        }
      }

    }
  }
}