.multiple-select {
  width: 217px;
}

.multiple-select-long {
  width: 500px;
}

//文件指令容器样式
.input-file-container {
  overflow: hidden;
  &.x.x.x .file-field {
    border: 1px solid red;
  }
  .file-field{
    width:475px;
  }
}

.enterprise-panel {
  span.inline-m{
    display:inline-block;
    width:70px;
    text-align:right;
    margin-right:20px;
  }
  button[disabled]{
    opacity:0.5;
  }
  //.form.ng-invalid {
  //  border: 3px solid red;
  //}
  .v-top{
    vertical-align:top;
  }
  .inline-block {
    display: inline-block;
  }
  .textarea-m {
    width: 600px;
    height: 100px;
  }
  .form .ng-pristine.ng-dirty.ng-invalid:not(.form) {
    border: 1px solid deepskyblue;
  }
  .ng-invalid {

  }
  .form .form-field .ng-invalid.ng-dirty:not(.form) {
    border: 1px solid red;
  }
  .step_validate_error .ng-invalid:not(.field-group) {
    border: 1px solid red;
  }
  .form .ng-dirty:not(.form) {
    //border: 1px solid lawngreen;
  }
  input[type=text]{
    width: 260px;
    &.input-l {
      width: 600px;
    }
    //&[number]{
    //  width:100px;
    //}
  }
  input.readonly, textarea.readonly {
    border: 1px solid #dddddd;
    background-color: #f4f4f4;
  }
  .panel-button {
    .save {
      background-color: #45a4f2;
      border: 1px #2896f0 solid;
      color: #fff;
    }
    .saving {
      &::after {
        content: '...'
      }
      background-color: gray;
      border: 1px solid white;
    }
  }
  .step {
    //padding-left: 150px;
    transition: width 2s;
  }
  h1 {
    font-size: 18px;
    font-weight: 800;
    color: #4a3333;
    font-family: "Comic Sans MS", "幼圆", "黑体", sans-serif;
  }
  h2 {
    font-size: 18px;
    font-weight: bold;
    color: #4a3333;
    text-indent: 12px;
  }
  .top-bar {

    width: 80%;
    border: 2px solid #cccccc;
    background-color: #f2f2f2;
    margin: auto;
    margin-top:10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    color: black;
  }
  .panel-button {
    over-flow: hidden;
    text-align: center;
    padding: 5px;
  }
  .form.payinfo .form-row label:first-child:not(.fenqi-label) {
    width: 220px;
  }
  .form {
    .product-info-group {
      width: 90%;
      //border: 1px solid #cccccc;
      margin: 0 auto;
      padding: 10px;
      background-color: #f2f2f2;
    }
    .form-row {

      margin-top: 5px;
      overflow: hidden;
      .form-field {
        float: left;
      }

      .inputs-container {
        overflow: hidden;
        float: left;
        height: auto;
        //max-width: 1000px;
        //width: 100%;
        .fenqi-label {
          display: inline-block;
           width: 240px;
          text-align: right;
          margin-top: 3px;
          span::after {
            content: ''
          }
        }
        input{
          width:100px;
        }
      }
      label:first-child:not(.fenqi-label) {
        span::after {
          content: ':'
        }
        display: inline-block;
        width: 150px;
        text-align: right;
        &.required::after {
          content: '*';
          color: red;
        }
      }

    }
  }
}

.products-container {
  overflow: hidden;
  position: relative;
}

.products-container .products-border {
  overflow: hidden;
  position: relative;
}

.products-container .product-border:hover {
  /*box-shadow: 0px 0px 12px 5px #b0b2ab;*/
}

.products-container .product {
  width: 400px;
  float: left;
  overflow: hidden;
  padding: 10px;
}

.products-container .product-border {
  border: 1px solid #cccccc;
  padding: 10px;
  overflow: hidden;
  background-color: #f2f2f2;
}

.products-container .product-content {
  /*border: 1px solid gray;*/
}

.field-group {
  margin: 0px auto;
  marign-bottom: 15px;
  border-bottom: 1px solid dimgray;
  padding-bottom: 10px;

}

.field-group.last {
  border: none;
}

.enterprise-panel .product .form .form-row label:first-child {
  display: inline-block;
  width: 145px;
  text-align: right;
}

.enterprise-panel .product .form .form-row input[type=text] {
  width: 160px;
}

.enterprise-panel .product .form .form-row label.radio-label {
  width: 120px;
  text-align: left;
  display: inline;
}

.enterprise-panel .product .form .form-row label.radio-label span::after {
  content: ""
}

.enterprise-panel .product .product-title {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.enterprise-panel .product .span-radio::after {
  contetn: '111'
}

.enterprise-panel .product .radios-field {
  text-align: center;
}

.enterprise-panel .product .form .form-row input[type=text].input-price-s {
  width: 80px;
}

.enterprise-panel .product .s-table {
  width: 100%;
  table-layout: fixed;
  word-wrap: break-word;
}

.enterprise-panel .product .s-table td {
  word-wrap: break-word;
  word-break: break-all;
}

.enterprise-panel .product .s-table td {
  text-align: center;
  vertical-align: middle;
}

.enterprise-panel .product .div-inline-block {
  display: inline-block;
}

.enterprise-panel .product .form-field {
  width: 100%;
}

.enterprise-panel .product .label-tip {
  text-align: left;
}

.enterprise-panel .product .form .form-row label:first-child.label-tip {
  text-align: left;
}

.enterprise-panel .product .form .form-row label:first-child.label-tip span::after {
  content: "";
}

.enterprise-panel .product .add-button {
  float: right;
}

.enterprise-panel .product-checkboxs {
  padding: 15px 10px;
}

.enterprise-panel .product-checkboxs label {
  display: inline-block;
  margin-left: 20px;
  border: 2px solid #cccccc;
  background-color: #f2f2f2;
  padding-left: 20px;
  cursor: pointer;
  margin-top: 3px;
}

.enterprise-panel input[type=checkbox] {
  width: 20px;
  height: 30px;
}

.enterprise-panel .product-col-wraper {
  /*background-color: #f6f5f5;*/
  background-color: #e8e2e2;
  border: 1px solid white;
  overflow: hidden;
  float: left;
}

.enterprise-panel .product-agent {
  overflow: hidden;
  float: left;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}

.active {
  background-color: yellow;
}

.active2 {
  color: green;
  font-weight: bold;
  font-size: 20px;
}

.enterprise-panel .product-checkboxs label.active {
  font-weight: bolder;
  color: black;
  transform: scale(1.2);
  transition: scale 1s ease-in-out;
}