<div ng-controller="mainController" class="ng-cloak enterprise-panel" ng-init="bbb=false" ng-form name="mainForm">
    <button ng-click="testBasicForm()">测试表单验证11</button>
    <button ng-attr-abcd="aaaa" ng-click="testResult()">testResult</button>
    <div ng-show="step==1" ng-controller="form1Controller" class="step form baseinfo" ng-form name="stepForm1">
        <div class="top-bar" ng-if="hideTopBar!==true">
            <h1>第一步&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;企业信息</h1>
        </div>
        <div style="width:100%;word-break:break-all;word-wrap:break-word;">
            {{entInfo}}
        </div>
        <!--<input select2 ng-model="a" select2-model="aS2" config="config1" type="text"/>-->
        <!--<button ng-click="a=2" class="btn btn-success btn-sm pull-right">设置数据</button>-->
        <div ng-class="{step_validate_error:step_1_validate_error}">
            <button ng-click="testBasicForm()">测试表单验证222</button>
            <div class="form-row">
                <h2>基本信息</h2>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label><span>企业名称</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" type="text" ng-model="entInfo.enterpriseName" name="enterpriseName" ng-maxlength="100"/>
                </div>
                <div class="form-field">
                    <label><span>代理区域</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" type="text" ng-model="entInfo.area" name="area" ng-maxlength="100"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label><span>企业账号</span></label>
                    <input account ng-model-options="{debounce:1000}" ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" type="text" ng-model="entInfo.enterpriseAccount" name="enterpriseAccount" ng-maxlength="100"/>
                    <span class="tip">企业账号应为字母开头6-20位由字母数字的组合</span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>企业地址</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required select2 name="province" ng-model="entInfo.province" select2-model="entInfo.provinceDataValue" config="provinceConfig" class="form-control multiple-select" type="text"/>
                    一一<input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required select2 name="city" ng-model="entInfo.city" select2-model="entInfo.cityDataValue" config="cityConfig" class="form-control multiple-select" type="text"/>
                    一一<input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required select2 name="county" ng-model="entInfo.county" select2-model="entInfo.countyDataValue" config="countyConfig" class="form-control multiple-select" type="text"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"></label>
                    <textarea ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" ng-model="entInfo.address" required ng-minlength="5" ng-maxlength="1000" placeholder="请填写详细地址，不少于5个字" name="address" style="width:560px;height:80px;"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>行业</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" rquired select2 name="industryFirst" ng-model="entInfo.industryFirst" select2-model="entInfo.industryFirstDataValue" config="industryFirstConfig" class="form-control multiple-select" type="text"/>
                    一一<input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" rquired select2 name="industrySecond" ng-model="entInfo.industrySecond" select2-model="entInfo.industrySecondDataValue" config="industrySecondConfig" class="form-control multiple-select" type="text"/>
                    一一<input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" rquired select2 ng-model="entInfo.industryThird" select2-model="entInfo.industryThirdDataValue" config="industryThirdConfig" class="form-control multiple-select" type="text"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>公司规模</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required
                           select2 ng-model="entInfo.companyScale" name="companyScale"
                           select2-model="entInfo.companyScaleDataValue" config="companyScaleConfig"
                           class="form-control multiple-select" type="text"/>
                </div>
                <div class="form-field">
                    <label class="required"><span>使用对象类型</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required select2 ng-model="entInfo.groupType" name="groupType" select2-model="entInfo.groupTypeDataValue" config="groupTypeConfig" class="form-control multiple-select" type="text"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>是否有销售团队</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required select2 ng-model="entInfo.isSaleTeam" name="isSaleTeam" select2-model="entInfo.isSaleTeamDataValue" config="isSaleTeamConfig" class="form-control multiple-select" type="text"/>
                </div>
                <div class="form-field">
                    <label class="required"><span>销售团队规模</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required select2 ng-model="entInfo.saleTeamScale" name="saleTeamScale" select2-model="entInfo.saleTeamScaleDataValue" config="saleTeamScaleConfig" class="form-control multiple-select" type="text"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>是否转介绍</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required select2 ng-model="entInfo.isReferral" name="isReferral" select2-model="entInfo.isReferralDataValue" config="isReferralConfig" class="form-control multiple-select" type="text"/>
                </div>
                <div class="form-field">
                    <label class="required"><span>是否标杆</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required select2 ng-model="entInfo.isReference" name="isReference" select2-model="entInfo.isReferenceDataValue" config="isReferenceConfig" class="form-control multiple-select" type="text"/>
                </div>
            </div>
            <div class="form-row">
                <h2>企业负责人</h2>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>企业负责人姓名</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required ng-maxlength="100" type="text" name="keyContactName" ng-model="entInfo.keyContactName"/>
                </div>
                <div class="form-field">
                    <label class="required"><span>企业负责人电话</span></label>
                    <!--ng-pattern="/[a-zA-Z]/"   正则表达式验证-->
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" ng-maxlength="100" required type="text" ng-model="entInfo.keyContactPhone" name="keyContactPhone"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>企业负责人邮箱</span></label>
                    <input ng-model-options="{debounce:1000}" ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" ng-model="entInfo.keyContactEmail" required type="text" email name="keyContactEmail"/>
                </div>
            </div>
            <div class="form-row">
                <h2>纷享平台管理员</h2>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>平台管理员</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required ng-maxlength="100" type="text" ng-model="entInfo.contactName" name="contactName"/>
                </div>
                <div class="form-field">
                    <label class="required"><span>平台管理员手机</span></label>
                    <input　phone ng-model-options="{updateOn:'blur'}" ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" ng-model="entInfo.contactPhone" type="text" ng-maxlength="100" name="contactPhone"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>平台管理员邮箱</span></label>
                    <input ng-model-options="{debounce:1000}" ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" required type="text" email ng-model="entInfo.contactEmail" ng-maxlength="100" name="contactEmail"/>
                </div>
                <div class="form-field">
                    <label><span>平台管理员QQ</span></label>
                    <input ng-class="{readonly:enterpriseReadonly}" ng-readonly="enterpriseReadonly" type="text" ng-maxlength="100" ng-model="entInfo.contactIm" name="contactIm"/>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="step==2" ng-controller="form2Controller" class="step form" ng-form name="stepForm2">
        <div class="top-bar" ng-if="hideTopBar!==true">
            <h1>第二步&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;产品信息</h1>
        </div>
        <div class="form" ng-init="dataResultData={dataResult:[]}" ng-class="{step_validate_error:step_2_validate_error}">
            <div ng-if="productInfos && productInfos.length>0">
                <div class="form-row">
                    <h2>企业已购产品信息</h2>
                </div>
                <div class="form-group product-info-group">
                    <div class="form-row">
                        <div class="form-field">
                            <label><span>企业名称</span></label>
                            <span>{{globalInfo.enterpriseName}}</span>
                        </div>
                        <div class="form-field">
                            <label><span>企业账号</span></label>
                            <span>{{globalInfo.enterpriseAccount}}</span>
                        </div>
                    </div>
                    <div class="form-row" ng-repeat="item in productInfos track by $index" ng-switch="item.code">
                        <div ng-show="false" class="form-field" ng-switch-when="FX_Terminal">
                        </div>
                        <div class="form-field" ng-switch-when="CRM">
                            <!--分割线-->
                            <label>{{item.appName}}(个)：
                            </label>
                            <span class="inline-m">{{item.quota}}</span>
                            <!--分割线-->
                            <label>开始时间：
                                <span class="inline-m">{{item.startDate | date:"yyyy/MM/dd" }}</span>
                            </label>
                            <!--分割线-->
                            <label>结束时间：
                                <span class="inline-m">{{item.endDate | date:"yyyy/MM/dd" }}</span>
                            </label>
                            <!--分割线-->
                            <label>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;<input type='checkbox' name='baichuai' checked='checked' disabled='disabled'/>捆绑纷享百川
                                &nbsp;&nbsp;<input type='checkbox' name='system' checked='checked' disabled='disabled'/>捆绑报数系统
                                &nbsp;&nbsp;<input type='checkbox' name='mingpian' checked='checked' disabled='disabled'/>捆绑名片
                            </label>
                        </div>
                        <div class="form-field" ng-switch-when="Service_Fee">
                            <!--分割线-->
                            <label>{{item.appName}}(个)：
                            </label>
                            <span class="inline-m">{{item.quota}}</span>
                            <!--分割线-->
                            <label>开始时间：
                                <span class="inline-m">{{item.startDate | date:"yyyy/MM/dd" }}</span>
                            </label>
                            <!--分割线-->
                            <label>结束时间：
                                <span class="inline-m">{{item.endDate | date:"yyyy/MM/dd" }}</span>
                            </label>
                        </div>
                        <div ng-show="false" class="form-field" ng-switch-when="Number_System">
                        </div>
                        <div ng-show="false" class="form-field" ng-switch-when="FXBC">
                        </div>
                        <div class="form-field" ng-switch-default>
                            <!--分割线-->
                            <label>{{item.appName}}:
                            </label>
                            <span class="inline-m"></span>
                            <!--分割线-->
                            <label>开始时间：
                                <span class="inline-m">{{item.startDate | date:"yyyy/MM/dd" }}</span>
                            </label>
                            <!--分割线-->
                            <label>结束时间：
                                <span class="inline-m">{{item.endDate | date:"yyyy/MM/dd" }}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <h2>产品目录</h2>
            </div>
            <products x-data-result="productInfo.dataResult" product-json="productJson" init-data="productInfo.initData" product-readonly="productReadonly" show="step==2"></products>
        </div>
    </div>
    <div ng-if="step==3" ng-controller="form3Controller" ng-form name="stepForm3" class="step form payinfo">
        <div class="top-bar" ng-if="hideTopBar!==true">
            <h1>第三步&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;付款信息</h1>
        </div>
        <button ng-click="testResult3(this['payInfoForm'])">testResult第三步</button>
        {{payInfo}}
        <div class="content-wrapper">
            <div class="form-row">
                <h2>付款信息</h2>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>合同号</span></label>
                    <input ng-model-options="{updateOn:'blur'}" ng-class="{readonly:payInfoReadonly}" required ng-readonly="payInfoReadonly" type="text" ng-change="getDataByContractNo()" ng-model="payInfo.contractNo" name="contractNo"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>合同总金额</span></label>
                    <input number ng-class="{readonly:true}" ng-readonly="true" required type="text" ng-model="payInfo.contractPrice" name="contractPrice"/>
                </div>
            </div>
            <div class="form-row">
                <div required
                     name="contract"
                     ng-class="{readonly:payInfoReadonly}" ng-readonly="payInfoReadonly"
                     ng-model="payInfo.contract"
                     input-file
                     status="payInfo.contract_status"
                     label="合同照片"
                     response=""></div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>合同章名称</span></label>
                    <input ng-class="{readonly:payInfoReadonly||payInfo.partReadonly}" required ng-readonly="payInfoReadonly||payInfo.partReadonly" type="text" ng-model="payInfo.sealName" name="sealName"/>
                </div>
            </div>
            <div class="form-row">
                <div ng-class="{readonly:payInfoReadonly}" ng-readonly="payInfoReadonly"
                     ng-model="payInfo.contractCopy"
                     input-file
                     status="payInfo.contractCopy_status"
                     label="合同副本照片"
                     response=""></div>
            </div>
            <div class="form-row">
                <div class="form-field" ng-init="payStatusData=[{label:'全额',value:1,checked:true},{label:'未付',value:2,checked:false},{label:'分期',value:3,checked:false}]">
                    <label class="required"><span>付费状态</span></label>
                    <label ng-repeat="item in payStatusData">
                        <input ng-class="{readonly:payInfoReadonly||payInfo.partReadonly}"
                               ng-change="payStatusChange(payInfo.payStatus)"
                               ng-readonly="payInfoReadonly||payInfo.partReadonly"
                               ng-disabled="payInfoReadonly||payInfo.partReadonly" name="payStatus" ng-model="payInfo.payStatus"
                               ng-checked="item.checked" ng-value="item.value" type="radio"/>{{item.label}}
                    </label>
                </div>
            </div>
            <div ng-if="payInfo.payStatus==3" class="form-row">
                <div class="form-field">
                    <label class="required"><span>分期金额</span></label>
                </div>
                <div class="form-field inputs-container">
                    <label class="fenqi-label" ng-repeat="item in payInfo.currPayList">
                        <span>{{item.productName}}(元)</span>
                        <input ng-model-options="{updateOn:'default'}" ng-change="currPayAmountChange(payInfo.currPayList)"
                               ng-class="{readonly:payInfoReadonly||payInfo.partReadonly}" number ng-readonly="payInfoReadonly||payInfo.partReadonly"
                               type="text" name="{{'currPayAmount_'+item.productId}}" max-number="item.purchaseAmount" ng-model="item.currPayAmount"/>
                    </label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>代理商本次到款款额(元)</span></label>
                    <input number ng-class="{readonly:true}" ng-readonly="true" type="text" ng-model="payInfo.agentCurrPayAmount" name="agentCurrPayAmount"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>总部本次到款金额(元)</span></label>
                    <input number ng-class="{readonly:true}" class="multiple-select-long" ng-readonly="true" type="text" ng-model="payInfo.currPayAmount" name="currPayAmount"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>总部打款日期</span></label>

                    <div class="inline-block" allow="!payInfoReadonly&&!payInfo.partReadonly" ng-readonly="payInfoReadonly||payInfo.partReadonly" getform="this['payInfoForm']" name="payDate" datetimeconfig="payInfo.payDate_dataConfig" ng-model="payInfo.payDate"></div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required v-top"><span>总部到款账户2</span></label>
                    <span class="inline-block">{{payInfo.receiptsAccount}}<br/>
                    <input ng-class="{readonly:payInfoReadonly||payInfo.partReadonly}"
                           ng-readonly="payInfoReadonly||payInfo.partReadonly"
                           ng-readonly="enterpriseReadonly||payInfo.partReadonly"
                           required select2
                           name="receiptsAccount" ng-model="payInfo.receiptsAccount"
                           placeholder="请输入银行账号"
                           select2-model="payInfo.receiptsAccountDataValue"
                           config="receiptsAccountConfig"
                           ajax-config="bankAjaxConfig"
                           class="form-control multiple-select-long" type="text"/>
                        </span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>打款名称（单位/个人）</span></label>
                    <input ng-class="{readonly:payInfoReadonly||payInfo.partReadonly}" ng-readonly="payInfoReadonly||payInfo.partReadonly" required type="text" ng-model="payInfo.payerName" name="payerName"/>
                </div>
            </div>
            <div class="form-row">
                <div ng-class="{readonly:payInfoReadonly}" ng-readonly="payInfoReadonly"
                     ng-model="payInfo.companyGatePicture"
                     input-file
                     status="payInfo.companyGatePicture_status"
                     label="门头照片"
                     response=""></div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>门头照片关键词</span></label>
                    <input class="input-l" ng-class="{readonly:payInfoReadonly}" ng-readonly="payInfoReadonly" type="text" ng-model="payInfo.companyGateKeyword" name="companyGateKeyword"/>
                </div>
            </div>
            <div class="form-row">
                <div class="form-field">
                    <label class="required"><span>门头照片备注</span></label>
                    <input class="input-l" ng-class="{readonly:payInfoReadonly}" ng-readonly="payInfoReadonly" type="text" ng-model="payInfo.companyGateRemark" name="companyGateRemark"/>
                </div>
            </div>
            <div class="form-row">
                <h2>备注</h2>
            </div>
            <div class="form-row">
                <div class="form-field">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <textarea ng-maxlength="1000" maxlength="1000" placeholder="最多输入1000个字符" ng-class="{readonly:payInfoReadonly}" class="textarea-m" ng-readonly="payInfoReadonly" ng-model="payInfo.remark" name="remark"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-button" ng-if="hideFootBtns!==true">
        <button ng-if="step>1" ng-disabled="action.doing===true" ng-click="prevStep()">上一步</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <!--<button ng-disabled="mainForm.basicForm.$invalid" ng-if="step<3" ng-click="nextStep()">下一步</button>-->
        <button ng-if="step<3" ng-disabled="action.doing===true" ng-click="nextStep(this.mainForm['stepForm'+step])">下一步</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-if="step==3" class="save" ng-disabled="action.doing===true" ng-click="save()" ng-class="{saving:action.doing}">提交</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-click="close()" class="close-order">取消</button>
    </div>
</div>
