.m-invoicedetail{
	h4{
		font-weight:bold;
		font-size:18px;
	}
	section>p{
		padding:3px 0;
	}
	span.title{
		display:inline-block;
		width:145px;
	}
	b.nsr{
		color:red;
	}

	.file,
	.typea,
	.typeb,
	.typec,
	.typed{
		display: none;
	}
}

