.m-express{
	h4{
		color:#666;
		font-size:18px;
		padding:10px 0;
	}
	.title{
		display:inline-block;
		width:120px;
	}
	p{
		padding-top:4px;
		padding-bottom:4px;
	}
	.nsr{
		color:red;
	}
	.data-state{
		display:none;
	}
	.express-action{
		text-align:right;
	}
	.content{
		p{
			min-height:22px;
			.title{
				display:block;
				float:left;
				width:121px;
			}
			.value{
				display:block;
				width:220px;
				padding-left:100px;
				word-break:break-all;
			}
		}
	}
}

