.order-content {
	.nav-box{
		display:inline-block;
		font-size:16px;
		#tabs{
			li {float:left;color:#000;height:30px;	cursor:pointer;	line-height:30px;padding:0 20px;background: #eee;}
			li.current {color:#000;background:#ccc;}
		}
	}
	.order-action{
		width: 680px;
		padding: 10px 20px;
		border-top: 1px #ccc solid;
		button{
		  float: right;
		  margin: 0px 10px;
		}
	}
}
.m-addenterprise{
    padding: 10px 20px;
}