<div class="p-list p-qry-partner" js="true">
    <hr/>
    <b>测试repeat</b>
    <div ng-controller="testRepeatController" >
          <div ng-repeat="li in list track by $index">
              {{li}}
          </div>
    </div>
    <hr/>
    <div ng-controller="testFormsController" >
        testFormsController
        <div ng-repeat="form in formList" style="border:1px solid red;margin-top:20px;">
            <form role="form" name="{{form.name}}" class="form-horizontal" novalidate>
                <div class="form-group">
                    <div class="col-md-2">
                        用户名
                    </div>
                    <div class="col-md-10">
                        <input type="text" placeholder="ng-Messages测试" name="name" ng-model="form.data.a"
                               ng-minlength=3 ng-maxlength=20 required/>
                        <hr/>
                        $error：{{myForm.name.$error}}
                        <hr/>
                        <div ng-messages="myForm.name.$error">
                            <div ng-message="required">必填项</div>
                            <div ng-message="minlength">字符太短小于3</div>
                            <div ng-message="maxlength">字符太长大于20</div>
                        </div>
                    </div>
                </div>
            </form>
            <button ng-click="getFormStatus()">查看表单状态</button>
        </div>
    </div>
    <div ng-controller="testFormController" style="border:1px solid red;margin-top:20px;">
        testFormController
        <form role="form" name="myForm" class="form-horizontal" novalidate>
            <div class="form-group">
                <div class="col-md-2">
                    用户名
                </div>
                <div class="col-md-10">
                    <input type="text" placeholder="ng-Messages测试" name="name" ng-model="data.a"
                           ng-minlength=3 ng-maxlength=20 required/>
                    <hr/>
                    $error：{{myForm.name.$error}}
                    <hr/>
                    <div ng-messages="myForm.name.$error">
                        <div ng-message="required">必填项</div>
                        <div ng-message="minlength">字符太短小于3</div>
                        <div ng-message="maxlength">字符太长大于20</div>
                    </div>
                </div>
            </div>
        </form>
        <button ng-click="getFormStatus()">查看表单状态</button>
    </div>
</div>