<div class="products-container">
    <style>
        .products-container {
            overflow: hidden;
            position: relative;
        }

        .products-container .product {
            width: 400px;
            background-color: #f2f2f2;
            float: left;
            margin-left: 10px;
            overflow: hidden;
        }

        .products-container .product-border {
            border: 1px solid #cccccc;
            padding: 10px;
            overflow: hidden;
        }

        .products-container .product-content {
            /*border: 1px solid gray;*/
        }

        .field-group {
            margin: 0px auto;
            marign-bottom: 15px;
            border-bottom: 1px solid dimgray;
            padding-bottom: 10px;

        }
        .enterprise-panel .product .form .form-row label:first-child {
            display: inline-block;
            width: 145px;
            text-align: right;
        }

        .enterprise-panel .product .form .form-row input[type=text] {
            width: 160px;
        }

        .enterprise-panel .product .form .form-row label.radio-label {
            width: 120px;
            text-align: left;
            display: inline;
        }

        .enterprise-panel .product .form .form-row label.radio-label span::after {
            content: ""
        }

        .enterprise-panel .product .product-title {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            color: black;
        }

        .enterprise-panel .product .span-radio::after {
            contetn: '111'
        }

        .enterprise-panel .product .radios-field {
            text-align: center;
        }

        .enterprise-panel .product .form .form-row input[type=text].input-price-s {
            width: 80px;
        }

        .enterprise-panel .product .s-table {
            width: 100%;
        }

        .enterprise-panel .product .s-table td {
            text-align: center;
            vertical-align: middle;
        }

        .enterprise-panel .product .div-inline-block {
            display: inline-block;
        }

        .enterprise-panel .product .form-field {
            width: 100%;
        }

        .enterprise-panel .product .label-tip {
            text-align: left;
        }

        .enterprise-panel .product .form .form-row label:first-child.label-tip {
            text-align: left;
        }

        .enterprise-panel .product .form .form-row label:first-child.label-tip span::after {
            content: "";
        }

        .enterprise-panel .product .add-button {
            float: right;
        }

        .enterprise-panel .product-checkboxs {
            padding: 15px 10px;
        }

        .enterprise-panel .product-checkboxs label {
            display: inline-block;
            margin-left: 20px;
            border: 2px solid #cccccc;
            background-color: #f2f2f2;
            padding-left: 20px;
            cursor: pointer;
        }

        .enterprise-panel input[type=checkbox] {
            width: 20px;
            height: 30px;
        }
    </style>
    <div class="product-checkboxs" onselectstart="return false;">
        <div class="checkboxs-container">
            <label ng-repeat="checkbox in productCheckboxs">
                <span ng-bind="checkbox.text"></span>
                <input type="checkbox"
                       ng-click="checkProduct(checkbox.checked,checkbox)"
                       ng-value="checkbox.id"
                       ng-model="checkbox.checked"
                        />
            </label>
        </div>
    </div>
    <div class="products-border">
        <div class="product" ng-if="product.show" ng-repeat="product in products">
            <div class="product-border">
                <div class="product-content">
                    <div class="product-title">
                        {{product.logic.attr.title}}
                    </div>
                    <div class="group-wrapper" ng-repeat="groups in product.states | groupBy:'groupName'">
                        <div class="field-group form"  ng-init="currentFormName='product_'+product.logic.attr.productId+'_'+$index" ng-form name="{{'product_'+product.logic.attr.productId+'_'+$index}}">
                            <div class="form-row {{groups.$key}}" ng-if="field.hidden!==true" ng-repeat="field in groups">
                                <button ng-click="testGroup(groups)">testGroup</button>
                                <div class="form-field" ng-class="{'radios-field':field.type=='radio'}" ng-switch="field.dataType">
                                    <div ng-switch-when="sales">
                                        <label class="label-tip" ng-if="field.label"><span class="title">{{field.label}}</span></label>
                                        <a ng-disabled="field.readonly" class="add-button" onselectstart="return false;" ng-init="field.value.valueData.valueItems=field.value.valueData.valueItems||[]" ng-click="addSalesmen(field)">添加{{field.label}}</a>
                                        <table class="s-table">
                                            <tbody>
                                            <tr ng-repeat="item in field.value.valueData.valueItems">
                                                <td width="20%" ng-bind="item.name"></td>
                                                <td ng-bind="item.department"></td>
                                                <td width="15%"><span ng-bind="item.inputTitle"></span></td>
                                                <td width="20%">
                                                    <input ng-required="field.readonly" number name="{{'sales'+$index}}" ng-readonly="field.readonly" type="text" ng-model="item.value" class="input-price-s"/>
                                                </td>
                                                <td width="20%">
                                                    <a ng-disabled="field.readonly" ng-click="deleteArray(field.valueItems,$index)">删除</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div ng-switch-when="partners">
                                        <label class="label-tip" ng-if="field.label"><span class="title">{{field.label}}</span></label>
                                        <a ng-disabled="field.readonly" onselectstart="return false;" class="add-button" ng-click="addPartners(field)">添加{{field.label}}</a>
                                        <table class="s-table" ng-init="field.value.valueData.valueItems=field.value.valueData.valueItems||[]">
                                            <tbody>
                                            <tr ng-repeat="item in field.value.valueData.valueItems">
                                                <td width="30%" ng-bind="item.name"></td>
                                                <td width="50%" ng-bind="item.department"></td>
                                                <td width="20%">
                                                    <a ng-disabled="field.readonly" ng-click="deleteArray(field.valueItems,$index)">删除</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <dev ng-switch-when="number">
                                        <label ng-if="field.label"><span class="title">{{field.label}}</span></label>
                                        <input type="text" number ng-required="field.required" ng-disabled="field.readonly" ng-disabled="field.readonly" ng-model="field.value.valueData.value"/>
                                        <!--{{field}}-->
                                    </dev>
                                    <div ng-switch-when="radio" ng-init="currentField=field;currentProduct=product">
                                        <label ng-if="field.label"><span class="title">{{field.label}}</span></label>
                                        <label class="radio-label" ng-repeat="radio in field.items">
                                            <input ng-disabled="field.readonly" name="{{field.name}}" type="radio"
                                                   ng-model="field.value.valueData.value" ng-value="radio.value" ng-change="this.fieldChange(this.currentField,this.currentProduct,this[currentFormName])"/>
                                            <span class="span-radio" ng-bind="radio.text">
                                            </span>
                                        </label>
                                        <!--{{field}}-->
                                    </div>
                                    <div ng-switch-when="time">
                                        <label ng-if="field.label"><span class="title" ng-init="field.dateConfig={type:0}">{{field.label}}</span></label>

                                        <div class="div-inline-block">
                                            <div allow="!field.readonly"
                                                 ng-init="currentField=field;currentProduct=product" ng-change="this.fieldChange(this.currentField,this.currentProduct,this[currentFormName])"
                                                 ng-disabled="field.disabled" ng-readonly="field.readonly" getform="this[currentFormName]" name="{{field.name}}" datetimeconfig="field.dateConfig" ng-model="field.value.valueData.value"></div>
                                        </div>
                                        <!--{{field}}-->
                                    </div>
                                    <div ng-switch-when="endTime">
                                        <label ng-if="field.label"><span class="title" ng-init="field.dateConfig={type:1}">{{field.label}}</span></label>

                                        <div class="div-inline-block">
                                            <div allow="!field.readonly"
                                                 ng-init="currentField=field;currentProduct=product" whenchange="this.fieldChange(this.currentField,this.currentProduct,this[currentFormName])"
                                                 ng-disabled="field.disabled" ng-readonly="field.readonly" getform="this[currentFormName]" name="{{field.name}}" datetimeconfig="field.dateConfig" ng-model="field.value.valueData.value"></div>
                                        </div>
                                        <!--{{field}}-->
                                    </div>
                                    <dev ng-switch-when="text">
                                        <label ng-if="field.label"><span class="title">{{field.label}}</span></label>
                                        <span ng-bind="field.value"></span>
                                    </dev>
                                    <dev ng-switch-when="discountor">
                                        <label ng-if="field.label"><span class="title">{{field.label}}</span></label>
                                        <span class="discountor">综合折扣</span><span class="discountor-value" ng-item="field.value"></span>
                                    </dev>
                                    <dev ng-switch-when="span">
                                        <label ng-if="field.label"><span class="title">{{field.label}}</span></label>
                                        <span class="label-field" ng-bind="field.value"></span>
                                    </dev>
                                    <dev ng-switch-default>
                                        <!--{{field}}-->
                                        <label ng-if="field.label"><span class="title">{{field.label}}</span></label>
                                        <input type="text" value="错误项"/>
                                    </dev>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="product">-->
    <!--{{products}}-->
    <!--</div>-->
</div>