<div class="products-container">
    <style>
        .products-container {
            overflow: hidden;
            position: relative;
        }

        .products-container .product {
            width: 400px;
            background-color: #f2f2f2;
            float: left;
            margin-left: 10px;
            overflow: hidden;
        }

        .products-container .product-border {
            border: 1px solid #cccccc;
            padding: 10px;
            overflow: hidden;
        }

        .products-container .product-content {
            /*border: 1px solid gray;*/
        }

        .field-group {
            margin: 0px auto;
            marign-bottom: 15px;
            border-bottom: 1px solid dimgray;
            padding-bottom: 10px;

        }

        .enterprise-panel .product .form .form-row label:first-child {
            display: inline-block;
            width: 145px;
            text-align: right;
        }

        .enterprise-panel .product .form .form-row input[type=text] {
            width: 160px;
        }

        .enterprise-panel .product .form .form-row label.radio-label {
            width: 120px;
            text-align: left;
            display: inline;
        }

        .enterprise-panel .product .form .form-row label.radio-label span::after {
            content: ""
        }

        .enterprise-panel .product .product-title {
            text-align: center;
            font-weight: bold;
            font-size: 18px;
            color: black;
        }

        .enterprise-panel .product .span-radio::after {
            contetn: '111'
        }

        .enterprise-panel .product .radios-field {
            text-align: center;
        }

        .enterprise-panel .product .form .form-row input[type=text].input-price-s {
            width: 80px;
        }

        .enterprise-panel .product .s-table {
            width: 100%;
        }

        .enterprise-panel .product .s-table td {
            text-align: center;
            vertical-align: middle;
        }

        .enterprise-panel .product .div-inline-block {
            display: inline-block;
        }

        .enterprise-panel .product .form-field {
            width: 100%;
        }

        .enterprise-panel .product .label-tip {
            text-align: left;
        }

        .enterprise-panel .product .form .form-row label:first-child.label-tip {
            text-align: left;
        }

        .enterprise-panel .product .form .form-row label:first-child.label-tip span::after {
            content: "";
        }

        .enterprise-panel .product .add-button {
            float: right;
        }
    </style>
    <div class="product" ng-repeat="product in products track by $index">
        <div class="product-border">
            <div class="product-content">
                <div class="product-title">
                    {{product.title}}
                </div>
                <div ng-if="group.fields && group.fields.length>0 && group.displayLogics.result===true" class="field-group form" ng-init="currentFormName='product_'+$index" ng-form name="{{'product_'+$index}}" ng-repeat="group in product.groups track by $index">
                    <div class="form-row"  ng-repeat="field in group.fields track by $index">
                        <!--<button ng-click="testGroup()">testGroup</button>-->
                        <div class="form-field" ng-class="{'radios-field':field.type=='radio'}" ng-switch="field.type">
                            <div ng-switch-when="salesmen">
                                <label class="label-tip" ng-if="field.text"><span class="title">{{field.text}}</span></label>
                                <a ng-disabled="field.readonly" class="add-button" ng-click="addSalesmen(field.items)">添加{{field.text}}</a>
                                <table class="s-table" ng-init="field.items=field.items||[]">
                                    <tbody>
                                    <tr ng-repeat="item in field.items track by $index">
                                        <td width="20%" ng-bind="item.name"></td>
                                        <td ng-bind="item.department"></td>
                                        <td width="15%"><span ng-bind="item.inputTitle"></span></td>
                                        <td width="20%">
                                            <input ng-required="field.readonly" ng-readonly="field.readonly" type="text" ng-model="item.value" class="input-price-s"/>
                                        </td>
                                        <td width="20%">
                                            <a ng-disabled="field.readonly" ng-click="deleteArray(field.items,$index)">删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div ng-switch-when="partners">
                                <label class="label-tip" ng-if="field.text"><span class="title">{{field.text}}</span></label>
                                <a ng-disabled="field.readonly" class="add-button" ng-click="addPartners(field.items)">添加{{field.text}}</a>
                                <table class="s-table" ng-init="field.items=field.items||[]">
                                    <tbody>
                                    <tr ng-repeat="item in field.items track by $index">
                                        <td width="30%" ng-bind="item.name"></td>
                                        <td width="50%" ng-bind="item.department"></td>
                                        <td width="20%">
                                            <a ng-disabled="field.readonly" ng-click="deleteArray(field.items,$index)">删除</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <dev ng-switch-when="input">
                                <label ng-if="field.text"><span class="title">{{field.text}}</span></label>
                                <input type="text" ng-required="field.required" ng-disabled="field.readonly" ng-disabled="field.readonly" ng-model="field.value"/>
                            </dev>
                            <div ng-switch-when="radio">
                                <label ng-if="field.text"><span class="title">{{field.text}}</span></label>
                                <label class="radio-label" ng-repeat="radio in field.items track by $index"> <input ng-disabled="field.readonly" name="{{field.name}}" type="radio" ng-model="field.value" ng-value="{{radio.value}}"/><span class="span-radio" ng-bind="radio.text"></span></label>
                            </div>
                            <div ng-switch-when="inputTime">
                                <label ng-if="field.text"><span class="title">{{field.text}}</span></label>

                                <div class="div-inline-block" ng-init="field.datetimecontrolConfig={}">
                                    <div allow="!field.readonly" ng-disabled="field.disabled" ng-readonly="field.readonly" getform="this[currentFormName]" name="{{field.name}}" datetimecontrol="field.datetimecontrolConfig" ng-model="field.value" default-value="field.value"></div>
                                </div>
                            </div>
                            <dev ng-switch-when="text">
                                <label ng-if="field.text"><span class="title">{{field.text}}</span></label>
                                <span ng-bind="field.value"></span>
                            </dev>
                            <dev ng-switch-when="discountor">
                                <label ng-if="field.text"><span class="title">{{field.text}}</span></label>
                                <span class="discountor">综合折扣</span><span class="discountor-value" ng-item="field.value"></span>
                            </dev>
                            <dev ng-switch-when="span">
                                <label ng-if="field.text"><span class="title">{{field.text}}</span></label>
                                <span class="label-field" ng-bind="field.value"></span>
                            </dev>
                            <dev ng-switch-default>
                                <label ng-if="field.text"><span class="title">{{field.text}}</span></label>
                                <input type="text" value="错误项"/>
                            </dev>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product">
        {{products}}
    </div>
</div>