<div class="upload-file">
    <div class="form-field upload-directive" ng-class="{disabled:ngReadonly}">
        <label ng-class="{required:ngRequired}"><span ng-bind="label"></span></label>

        <div class="upload-wrapper">
            <div class="image-wrapper">
                <div ng-init="showPreview={value:false}" ng-if="src" class="image-item" ng-repeat="src in imgArr track by $index">
                    <a  ng-click="showBig(showPreview)" target="_blank" class="upload-preview-a">
                        <img ng-src="{{'/op/api/file/previewimage?filePath='+src}}" class="upload-preview-img" src="" width="100" height="100" alt="{{alt}}"/>
                    </a>

                    <div ng-if="multiple!==false && !ngReadonly" class="delete-img" ng-init="index=$index"" ng-click="deleteImage(index)">X</div>
                    <div image-preview data-src="'/op/api/file/previewimage?filePath='+src" ng-if="showPreview.value" data-show="showPreview.value"></div>
                </div>
            </div>
            <input ng-show="multiple===false||(multiple!==false && imgArr.length<=maxFileCount)" type="file" class="file-field" ng-class="{disabled:ngReadonly}" ng-disabled="ngReadonly" name="enterpriseName" accept="image/gif,image/jpeg,image/png"/>
            <span ng-show="multiple===false||(multiple!==false && imgArr.length<=maxFileCount)" class="type-tip">(支持png、jpg、gif格式)</span>
        <span class="status" ng-class="{uploading:status=='uploading',uploaderror:status=='error',uploaded:status=='uploaded'}">
            {{status=='uploading'?'上传中...请稍等':status=='uploaded'?'上传成功':status=='error'?'上传异常，请重新上传':''}}
        </span>
        </div>
    </div>
</div>


<div class="image-preview">
    <div class="mask opacity">
    </div>
    <div class="container" ng-click="close()">
        <div class="content">
            <a ng-href="{{src}}" target="_black" ng-click="hrefClick($event)">
                <img class="preview" ng-src='{{src}}'/>
            </a>
        </div>
        <div class="buttons-mask"></div>
        <div class="buttons"><input type="button" class="btn-rotate" value="旋转"/></div>
    </div>
</div>