.order-content{
  span.m-len{
	display:inline-block;
	text-align:right;
	width:150px;
  }
  .red{
	color:red;
  }
  table{
  	    table-layout: fixed;
    	word-wrap: break-word;
    	word-break: normal;
  }
}
