.m-detailapproval{
  	
  	.approval-title{
  		text-align:center;
  		span{
  			display: inline-block;
  			padding:4px 10px;
  			width:85px;
  			margin-left:-1px;
  			border:1px #ccc solid;
  			cursor:pointer;
  			&.active{
  				background:#eee;
  			}
  		}
  	}
}


