.m-detailapproval{
  	
    padding: 0 10px;
  	.approval-title{
  		text-align:center;
  		span{
  			display: inline-block;
  			padding:4px 10px;
  			width:85px;
  			margin-left:-1px;
  			border:1px #ccc solid;
  			cursor:pointer;
  			&.active{
  				background:#eee;
  			}
  		}
  	}

    .approval-opinionaction{
      border-top:1px #ccc dashed;
      margin-top:10px;
      padding-top:10px;
      h4{
        padding: 5px 0;
        font-weight:bold;
        font-size:22px;
      }
      p{
        padding: 5px 0;
      }
    }
}


