.m-claim{
	section{
		min-height:210px;
		table{
			td{
				line-height:30px;
			}
		}
	}
   .claim-action{
   		padding:10px 0;
   		text-align:center;
   } 
}
.m-orderlist{
	td .disable{
		color:#bdbdbd;
		cursor:auto;
	}
}

