<script type="text/template" id="orderList">
	<% _.each(content,function(item){ %>
		<tr >
			<td></td>
			<td title="<%=item.order.id%>"><%=item.order.id%></td>
			<td><%=item.order.contractNo%></td>
			<td><%=item.order.enterpriseName%></td>
			<td><%=item.order.enterpriseAccount%></td>
			<td><%=item.orderTypeStr%></td>
			<td><%=item.account.name%></td>
			<td><%=item.agent ? item.agent.name:''%></td>
			<td><%=item.order.isTp ? '是':'否'%></td>
			<td><%=item.order.isCooperation == 1 ? '是':'否'%></td>
			<td><%=item.order.cooperationUnit ? item.order.cooperationUnit:'——'%></td>
			<td><%=item.statusStr%></td>
			<td><%=item.isPayUpAryStr%></td>
			<td><%=item.payStatusStr%></td>
			<td><%=item.createTimeStr%></td>
			<td>
				<%if(item.canCollectFinalPay ==1){%>
					<a class="receive-money" data-id="<%=item.order.id%>"  data-enterpriseId="<%=item.order.enterpriseId%>"
					   data-orderType="<%=item.order.orderType%>" data-opinion="<%=item.order.rejectReason ?item.order.rejectReason :'' %>"
					   data-isTp="<%=item.order.isTp%>"  data-ea="<%=item.order.enterpriseAccount%>" data-contractNo="<%=item.order.contractNo%>" data-permissions="M009005003,M008007005,M011003004">收尾款</a>&nbsp;&nbsp;
				<%}else{%>
					<a   style="color:#ccc;" data-id="<%=item.order.id%>"  data-enterpriseId="<%=item.order.enterpriseId%>"
					   data-orderType="<%=item.order.orderType%>" data-opinion="<%=item.order.rejectReason ?item.order.rejectReason :'' %>"
					   data-isTp="<%=item.order.isTp%>"  data-ea="<%=item.order.enterpriseAccount%>" data-contractNo="<%=item.order.contractNo%>" data-permissions="M009005003,M008007005,M011003004">收尾款</a>&nbsp;&nbsp;
				<%}%>
				<%if(item.canDelete == 1||item.canDelete == "1"){%>
					
					<a class="order-del" data-id="<%=item.order.id%>" data-permissions="M009005005,M008007006,M011003005">删除</a>&nbsp;&nbsp;
				<%}else{%>
					<a  style="color:#ccc;" data-id="<%=item.order.id%>" data-permissions="M009005005,M008007006,M011003005">删除</a>&nbsp;&nbsp;
				<%}%>

				<%if(item.order.orderType ==17){%>
					<a class="order-detailPay" data-id="<%=item.order.id%>"  data-enterpriseId="<%=item.order.enterpriseId%>"
						data-orderType="<%=item.order.orderType%>" data-opinion="<%=item.order.rejectReason ?item.order.rejectReason :'' %>"
				   data-isTp="<%=item.order.isTp%>"  data-ea="<%=item.order.enterpriseAccount%>" data-contractNo="<%=item.order.contractNo%>" data-permissions="M009005002,M008007002,M011003003">查看</a>&nbsp;&nbsp;
				<%}else if(item.order.orderType ==18){%>
					<a class="order-onlinepay" data-id="<%=item.order.id%>"  data-enterpriseId="<%=item.order.enterpriseId%>"
						data-orderType="<%=item.order.orderType%>" data-opinion="<%=item.order.rejectReason ?item.order.rejectReason :'' %>"
				   data-isTp="<%=item.order.isTp%>"  data-ea="<%=item.order.enterpriseAccount%>" data-contractNo="<%=item.order.contractNo%>" data-permissions="M009005002,M008007002,M011003003">查看</a>&nbsp;&nbsp;
				<%} else {%>
					<a class="order-detail" data-id="<%=item.order.id%>"  data-enterpriseId="<%=item.order.enterpriseId%>"
						data-orderType="<%=item.order.orderType%>" data-opinion="<%=item.order.rejectReason ?item.order.rejectReason :'' %>"
				   data-isTp="<%=item.order.isTp%>"  data-ea="<%=item.order.enterpriseAccount%>" >查看</a>&nbsp;&nbsp;
				<%}%>
				
                <%if(item.canEditPartner == 1||item.canEditPartner == "1"){%>
					
					<a class="order-custom"  data-enterpriseId="<%=item.order.enterpriseId%>" data-permissions="M009005006,M008007003,M011003006">联合跟进人</a>&nbsp;&nbsp;
				<%}else{%>
					<a  style="color:#ccc;" data-id="<%=item.order.id%>" data-permissions="M009005006,M008007003,M011003006">联合跟进人</a>&nbsp;&nbsp;
				<%}%>
				<%if(item.canRefund == 1||item.canRefund == "1"){%>
					
					<a data-permissions="M009005008,M008007007,M011003007" class="order-backmoney"  data-id="<%=item.order.id%>"  data-enterpriseId="<%=item.order.enterpriseId%>"
					   data-orderType="<%=item.order.orderType%>" data-opinion="<%=item.order.rejectReason ?item.order.rejectReason :'' %>"
					   data-isTp="<%=item.order.isTp%>"  data-ea="<%=item.order.enterpriseAccount%>" data-contractNo="<%=item.order.contractNo%>" data-newFirst="newFirst">退款</a>&nbsp;&nbsp;
				<%}else{%>
						<%if(item.approveStatus == 5 || item.approveStatus == 6 || item.approveStatus == 7 ||item.approveStatus == 8  ){%>
							<a class="order-backmoney"  data-id="<%=item.order.id%>"  data-enterpriseId="<%=item.order.enterpriseId%>"
							   data-orderType="<%=item.order.orderType%>" data-opinion="<%=item.order.rejectReason ?item.order.rejectReason :'' %>"
							   data-isTp="<%=item.order.isTp%>"  data-ea="<%=item.order.enterpriseAccount%>" data-contractNo="<%=item.order.contractNo%>" data-newFirst="refund" data-permissions="M009005008,M008007007,M011003007">退款</a>&nbsp;&nbsp;
							
						<%}else{%>
							<a  style="color:#ccc;" data-permissions="M009005008,M008007007,M011003007">退款</a>&nbsp;&nbsp;
						<%}%>
				
				<%}%>
				<%if(item.canInvoice == 1||item.canInvoice == "1"){%>
					
					<a class="order-invoice"  data-id="<%=item.order.id%>" data-permissions="M009005010,M008007009,M011003008">发票</a>&nbsp;&nbsp;
				<%}else{%>
					<a  style="color:#ccc;" data-permissions="M009005010,M008007009,M011003008">发票</a>&nbsp;&nbsp;
				<%}%>
				
				
			</td>
			<td></td>
		</tr>
	<% }) %>
</script>
<script type="text/template" id="claim">
<div class="m-claim">
	<section>
		<table>
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>到款编号</th>
					<th>到款日期</th>
					<th>公司/个人打款名称</th>
					<th>到款金额(元)</th>
					<th>性质</th>
					<th></th>
				</tr>
			</thead>
			<tbody ce-collection="list">
				<tr>
					<td></td>
					<td> <input type="radio" name="daokuan" value="<%=item.id%>"> </td>
					<td><%=item.receivedPayNum%></td>
					<td><%=new Date(item.receivedPayDate)._format('yyyy/MM/dd')%></td>
					<td><%=item.payerName%></td>
					<td><%=item.receivedPayAmount%></td>
					<td><%=item.property%></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</section>
	<p class="claim-action">
		<button class="u-btn-blue action-claim">认领</button>
		<button class="action-rematch">重新匹配</button>
	</p>
</div>
</script>
