<script type="text/template" id="orderList">
	/*<% _.each(content,function(item){ %>
		<tr >
			<td></td>
			<td title="<%=item.order.id%>"><%=item.order.id%></td>
			<td><%=item.order.contractNo%></td>
			<td><%=item.order.enterpriseName%></td>
			<td><%=item.order.enterpriseAccount%></td>
			<td><%=item.订单类型%></td>
			<td><%=item.account.username%></td>
			<td><%=item.agent.name%></td>
			<td><%=item.是否特批%></td>
			<td><%=item.isCooperation ? '是':'否'%></td>
			<td><%=item.cooperationUnit ? item.cooperationUnit:'——'%></td>
			<td><%=item.approveStatus%></td>
			<td><%=item.付费准头%></td>
			<td>
				<a data-id="<%=item.id%>" class="filing-assgin" data-permissions="F009001">分配</a>&nbsp;&nbsp;
				<a data-id="<%=item.id%>" class="filing-detail">查看</a>&nbsp;&nbsp;

                <a data-id="<%=item.id%>" data-name="<%=item.enterpriseName%>" class="filing-log">备案企业跟踪</a>&nbsp;&nbsp;
                <a data-reason="<%=item.reason%>" class="filing-reason">驳回原因</a>&nbsp;&nbsp;
				
			</td>
			<td></td>
		</tr>
	<% }) %>*/
</script>