
.productinfo {
  .disabled, .readonly {
    background-color: #ebebe4;
    border: 1px solid #dedede;
    color: #545454;
  }
  .error {
    color: red;
    display: none;
  }
  .field-required-error {
    border: 1px solid red;
  }
  .bold {
    font-weight: bold;
    color: black;
  }

  .ipt-l {
    width: 500px;
  }
  .ipt-m {
    width: 300px;
  }
  > div {
    margin: 15px auto;
  }
  .red {
    color: red;
  }
  .field_group {
    margin: 0 auto;
    width: 80%;
    border: 1px solid #cccccc;
    background-color: #f2f2f2;
    .field_group_head {
      width: 100px;

    }

  }

  .field_row {
    overflow: hidden;
    padding: 5px 0px;
    > div {
      float: left;
    }
    label {
      display: inline-block;
      width: 150px;
      text-align: right;
    }
    .field {
      float: left;

    }
    .field_row_head {
      padding-right: 20px;
    }
    .field_wrapper {

    }
  }

  width: 1300px;
  table {
    th, td {
      text-align: center;
    }

  }
}