<script type="text/template" id="trTpl">
    <% _.each( content, function( item ){ %>
        <tr>
            <td></td>
            <td> <%=item.enterpriseName%> </td>
            <td> <%=item.enterpriseAccount%> </td>
            <td> <%=item.industryStr%> </td>
			<td> <%=item.filingStatusStr%> </td>
            
            <td> <%=item.contactName%> , <%=item.contactPhone%> , <%=item.contactEmail%> , <%=item.contactIM%> </td>
			<td> <%=item.valueAddedStaffName%> </td>
            <td> 
                <a  data-id="<%=item.enterpriseId%>" class="detail">查看</a>
            </td>
            <td></td>
        </tr>
    <% } )%>
</script>
<script type="text/template" id="customerLookTem">
<div class="m-addenterprise" js="true">
	<div class="enterprise-content">
		<h4>基本信息</h4>
		<p>
			<label for="">
				<span>企业名称 </span>
				<input type="text" ce-model="enterpriseName" class="required enterpriseName" disabled="disabled">
			</label>
			<label for="">
				<span>企业账号 </span>
				<input type="text" ce-model="enterpriseAccount" class="required" placeholder="不可更改!" disabled="disabled">
			</label>
		</p>
		<p>
			<label for="">
				<span>企业简称 </span>
				<input type="text" ce-model="enterpriseShortName" class="required" placeholder="用于手机短消息签名" disabled="disabled">
			</label>
			<label for="">
				<span>地址 </span>
				<input type="text" ce-model="address" class="required address" disabled="disabled">
			</label>
		</p>
		<p>
			<label for="">
				<span>行业</span>
				<select name="" class="e-industry required" ce-model="industry" disabled="disabled"></select>
			</label>
			<label for="">
				<span>来源 </span>
				<select name="" class="e-source required" ce-model="source" disabled="disabled"></select>
			</label>
		</p>
		<p>
			<label for="">
				<span>省市 </span>
				<select name="" class="e-province required" ce-model="province" disabled="disabled"></select>
			</label>
			<label for="">
				<span>团队类型</span>
				<select name="" class="e-group required" ce-model="groupType" disabled="disabled"></select>
			</label>
		</p>
		<p>
			<label for="">
				<span>了解渠道 </span>
				<select name="" class="e-knowsource required" ce-model="knowSource" disabled="disabled"></select>
			</label>
			<label for="">
				<span>注册动机</span>
				<select name="" class="e-motive required" ce-model="registerMotive" disabled="disabled"></select>
			</label>
		</p>
		<p>
			<label for="">
				<span>公司规模 </span>
				<select name="" class="companyscale required" ce-model="companyScale" disabled="disabled"></select>
			</label>
		</p>
		<p>
			<label for="">
				<span>是否有销售团队 </span>
				<select name="" id="" ce-model="isSaleTeam" class="required" disabled="disabled">
					<option value="">请选择</option>
					<option value="1">是</option>
					<option value="0">否</option>
				</select>
			</label>
			<label for="">
				<span>销售团队规模 </span>
				<select name="" class="saleteamscale required" ce-model="saleTeamScale" disabled="disabled"></select>
			</label>
		</p>
		<p>
			<label for="">
				<span>是否首面签约 </span>
				<select name="" ce-model="isFirstmeetingSign" class="required" disabled="disabled">
					<option value="">请选择</option>
					<option value="1">是</option>
					<option value="0">否</option>
				</select>
			</label>
			<label for="">
				<span>是否会销 </span>
				<select name="" id="" ce-model="isWillPin" class="required" disabled="disabled">
					<option value="">请选择</option>
					<option value="1">是</option>
					<option value="0">否</option>
				</select>
			</label>
		</p>
		<p>
			<label for="">
				<span>是否陌拜 </span>
				<select name="" ce-model="isStrangerVisits" class="required" disabled="disabled">
					<option value="">请选择</option>
					<option value="1">是</option>
					<option value="0">否</option>
				</select>
			</label>
			<label for="">
				<span>城市 </span>
				<input type="text" ce-model="city" class="required" disabled="disabled">
			</label>
		</p>
		<p>
			<label for="">
				<span>是否快速签约 </span>
				<select name="" ce-model="isFastSign" class="required" disabled="disabled">
					<option value="">请选择</option>
					<option value="1">是</option>
					<option value="0">否</option>
				</select>
			</label>
			<label for="">
				<span>成交周期(天) </span>
				<input type="text" ce-model="dealDays" class="required" disabled="disabled">
			</label>
		</p>
		<p>
			<label for="">
				<span>是否高压锅 </span>
				<select name="" id="" ce-model="isAutoClave" class="required" disabled="disabled">
					<option value="">请选择</option>
					<option value="1">是</option>
					<option value="0">否</option>
				</select>
			</label>
			<label for="">
				<span>高压周期(天)</span>
				<input type="text" ce-model="autoclaveDays" class="required" disabled="disabled">
			</label>
		</p>
		<p>
			<label for="">
				<span>是否转介绍 </span>
				<select name="" id="" ce-model="isReferral" class="required" disabled="disabled">
					<option value="">请选择</option>
					<option value="1">是</option>
					<option value="0">否</option>
				</select>
			</label>
		</p>
		<h4>企业负责人</h4>
		<p>
			<label for="">
				<span>企业负责人姓名 </span>
				<input type="text" ce-model="keyContactName" class="required keyContactName" disabled="disabled">
			</label>
			<label for="">
				<span>企业负责人电话 </span>
				<input type="text" ce-model="keyContactPhone" class="required" disabled="disabled">
			</label>
		</p>
		<p>
			<label for="">
				<span>企业负责人邮箱 </span>
				<input type="text" ce-model="keyContactEmail" class="required" disabled="disabled">
			</label>
		</p>
		<h4>纷享平台管理员</h4>
		<p>
			<label for="">
				<span>平台管理员 </span>
				<input type="text" ce-model="contactName" class="required" disabled="disabled">
			</label>
		</p>
		<p>
			<label for="">
				<span>平台管理员电话 </span>
				<input type="text" ce-model="contactPhone" class="required" disabled="disabled">
			</label>
			<label for="">
				<span>平台管理员邮箱 </span>
				<input type="text" ce-model="contactEmail" class="required" disabled="disabled">
			</label>
		</p>
		<p>
			<label for="">
				<span>平台管理员QQ</span>
				<input type="text" ce-model="contactim" disabled="disabled">
			</label>
		</p>
		<div class="info-box">
			<h4>产品信息</h4>
			<p style="display:none;">
				<label for="">
					<span>产品 </span>
					<select name="" class="content-product " disabled="disabled" ce-model="productId">
					</select>
				</label>
			</p>
			<p>
				<label for="">
					<span>销客终端总量(个)</span>
					<input type="text" ce-model="accountTotalAmount" class="required deviceamount" disabled="disabled">
				</label>
				<label for="">
					<span>短信总量(条)</span>
					<input type="text" ce-model="smsTotalAmount" class="required" disabled="disabled">
				</label>
			</p>
			<p>
				<label for="">
					<span>空间总量(GB)</span>
					<input type="text" ce-model="storageTotalSpace" class="required" disabled="disabled">
				</label>
			</p>
			
			<!--<h4>备注</h4>
			<p>
				<label for="">
					<textarea name="" ce-model="remark"></textarea>
				</label>
			</p>-->
				
			<div class="supply-box">
				<p class=" state-pay">
					<label for="">
						<span>年限 </span>
						<select ce-model="yearLimit" class="yearlimit" disabled="disabled">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
							<option value="9">9</option>
						</select>
					</label>
					<label for="">
						<span>合同金额(￥) </span>
						<input type="text" ce-model="contractPrice" class="contractprice" disabled="disabled">
					</label>
				</p>
				<p class="state-pay">
					<label for="">
						<span>折扣 </span>
						<input type="text" ce-model="discount" disabled="disabled">
					</label>
					<label for="">
						<span>发票抬头</span>
						<input type="text" ce-model="invoiceTitle" disabled="disabled">
					</label>
				</p>
			</div>
			<div class="status-box">
				<section class=" clearfix" data-state="detail" style="padding-bottom:10px; border-top: 1px #ccc solid;">
					<h4 style="padding-bottom:10px;">状态信息</h4>
					<select name="" class="firm-status" ce-model="firmStatus" style="display:none;">
								
					</select>
					<select name="" class="disabled-status" value="0" disabled='disabled' >
						<option value="0">不可编辑</option>
					</select>
				</section>
				<section class="state-info" data-state="detail" data-id='' data-saveId='' style="display:none;">
					<h4>企业跟进信息</h4>
					<p>
						<label for="" class="hide-state count-taggle" style="margin-top:10px;">
							<span>公司人数</span>
							<input type="text" ce-model="companyNum" class="state-count" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
						</label>
						<label for="" class="hide-state count-taggle" style="margin-top:10px;">
							<span>开通人数</span>
							<input type="text" ce-model="clientNum" class="open-count open-taggle" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
						</label>
					</p>
					<p>
						<label for="" class="hide-state phone-taggle" style="margin-top:10px;">
							<span>法定代表人电话</span>
							<input type="text" ce-model="kpPhone" class=" state-phone">
						</label>
						<label for="" class="hide-state time-taggle" style="margin-top:10px;">
							<span>拜访时间</span>
							<input type="text" ce-model="visiteTime" class=" visite-time state-visite">
						</label>
					</p>
				</section>
			</div>
		</div>
		<div class="buy-box" style="display:none;">
			<h4>产品信息</h4>
			<p style="display:none;">
				<label for="">
					<span>产品 </span>
					<select name="" class="content-product "  ce-model="productIdBuy">
					</select>
				</label>
			</p>
			<p>
				<label for="">
					<span>销客终端总量(个)<b>*</b></span>
					<input type="text" ce-model="accountTotalAmountBuy" class="required deviceamount" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
				</label>
				<label for="">
					<span>短信总量(条)<b>*</b></span>
					<input type="text" ce-model="smsTotalAmountBuy" class="required" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
				</label>
			</p>
			<p>
				<label for="">
					<span>空间总量(GB)<b>*</b></span>
					<input type="text" ce-model="storageTotalSpaceBuy" class="required" >
				</label>
			</p>
			<p class="state-pay">
				<label for="">
					<span>合同<b>*</b> </span>
					<input type="file" class="contract" >
				</label>
			</p>
			<p class=" state-pay">
				<label for="">
					<span>年限 <b>*</b></span>
					<select ce-model="yearLimitBuy" class="yearlimit">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
					</select>
				</label>
				<label for="">
					<span>合同金额(￥)  <b>*</b></span>
					<input type="text" ce-model="contractPriceBuy" class="contractprice" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
				</label>
			</p>
			<p class="state-pay">
				<label for="">
					<span>折扣 <b>*</b></span>
					<input type="text" ce-model="discountBuy" disabled="disabled">
				</label>
				<label for="">
					<span>发票抬头 <b>*</b></span>
					<input type="text" ce-model="invoiceTitleBuy">
				</label>
			</p>
		</div>
	</div>
	<div class="enterprise-action clearfix">
		<button class=" save-fn btn-blue">保存</button>
		<button class=" buy-fn btn-blue" style="display:none; margin:0 10px;">增值续费</button>
		<button class="product-fn btn-blue" style="display:none; margin:0 10px;">续费申请</button>
		<button class="cancal-fn btn-blue" style="display:none; margin:0 10px;">取消</button>
	</div>
</div>
</script>
