<script type="text/template" id="trPolicy">
    <% _.each(content,function( value ,index ){ %>
    <tr>
        <td></td>
        <td><%=value.title%></td>
        <td><%=value.sortKey%></td>
        <td>
            <a class="check" data-name="<%=value.name%>"  data-id="<%=value.id%>">查看</a>&nbsp;
            <a class="delete" data-name="<%=value.name%>" data-id="<%=value.id%>">删除</a>&nbsp;

        </td>
        <td></td>
    </tr>
    <% }) %>
</script>


<script type="text/javascript" id="crPolicy">
    <div class="m-createpolicy">
        <p class="line"><label><span>标题<b style="color: red; ">*</b></span><input type="text" maxlength="50" placeholder="请输入标题" id="title"></label><span>最多添加50个字</span></p>
        <p class="line"><label><span>排序<b style="color: red; ">*</b></span><input type="text" id="sequence" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')"></label><span>仅可以输入数字</span></p>
        <p class="line"><span>内容<b style="color: red; ">*</b></span></p>
        <textarea name="content" id="editor" style="width:700px; height:400px;">
        </textarea>
        <p class="line"><button id="preview" class="btn-blue">预览</button><button id="release" class="btn-blue">发布</button><button id="cancel" class="btn-blue">取消</button></p>
    </div>
</script>

<script type="text/javascript" id="preview">
    <div class="m-preview" id="m-preview">
        <h2>注意事项</h2>
        <div class="policyItems">
            
        </div>
    </div>
</script>


