<script type="text/template" id="trEme">
    <% _.each(content,function( value ,index ){ %>
    <tr>
        <td></td>
        <td><%=value.ea%></td>
        <td><%=value.en%></td>
		<td><%=value.deptNameArr%></td>
        <td><%=value.creatorName%></td>
        <td><%=value.isSelfRegister ? '是' : '否' %></td>
        <td><%=value.runStatusName%></td>
        <td><%=value.isOverLimitWarn ? '是' : '否' %></td>
        <td>
           <em class="accountdetail" data-enterpriseId="<%=value.enterpriseId%>" data-ea="<%=value.ea%>"   data-permissions="M00803402">查看</em>
		</td>
        <td></td>
    </tr>
    <% }) %>
</script>


<script type="text/template" id="accountDetail">
    <div class="m-accountdetail m-enterprisedetail">
		<p>
			<label><span>企业名称</span><input type="text" disabled="disabled" ce-model="enterpriseName"></label>
			<label><span>企业类型</span>
				<select ce-model="enterpriseType" disabled="disabled">
					<option value="1">开源</option><option value="2">付费</option>
					<option value="3">免费</option><option value="4">未续费(过期)</option>
				</select>
			</label>
		</p>
		<p>
			<label><span>企业账号</span><input type="text" disabled="disabled" ce-model="enterpriseAccount"></label>
		</p>
		<p>
			<label><span>平台管理员</span><input type="text" disabled="disabled" ce-model="contactName"></label>
			<label><span>平台管理员手机</span><input type="text" disabled="disabled" ce-model="contactPhone"></label>
		</p>
		<p>
			<label><span>平台管理员邮箱</span><input type="text" disabled="disabled" ce-model="contactEmail"></label>
			<label><span>平台管理员QQ</span><input type="text" disabled="disabled" ce-model="contactIm"></label>
		</p>
        
        <div class="dtl">

            <section class="accordian collapse f1 f2 f3 f4" data-target="product" data-permissions="M00803403">
                <h4><span class="arraw"></span>产品信息</h4>

                <div class="content" id="tbProduct">
                    <p class="openTime" ><span>开通时间:</span><span class="content"></span></p>
                    <div class="container">
                        
                    </div>
                </div>
            </section>

            <section class="accordian collapse f1 f2 f3 f4" id="operationssection" data-target="operations"  data-permissions="M00803404">
                <h4><span class="arraw"></span>使用情况</h4>
                <div class="content">
                    <p>
                        <label class="hw">
                            <span>销客终端总量</span>
                            <input id="sdXKDC" disabled="disabled" class="g-ipt ipt-m" type="text" oninput="this.value=this.value.replace(/[^\d]/g,'')">
                        </label>
                        
                        <label class="hw">
                            <span>销客终端<br>已用量/未用量</span>
                            <input id="sdXKDUC" disabled="disabled" class="g-ipt ipt-m" type="text">
                        </label>
                        
                        <label class="hw">
                            <span>CRM总量</span>
                            <input id="yingxiaoSum" disabled="disabled" class="g-ipt ipt-m" type="text">
                        </label>

                        <label class="hw">
                            <span>CRM<br>已用量/未用量</span>
                            <input id="yingxiaoUsed" disabled="disabled" class="g-ipt ipt-m" type="text">
                        </label>

                        <label class="hw">
                            <span>空间总量(GB)</span>
                            <input id="sdSC" disabled="disabled" class="g-ipt ipt-m" type="text">
                        </label>
                        <label class="hw">
                            <span>空间已用量(GB)</span>
                            <input id="sdSUC" disabled="disabled" class="g-ipt ipt-m" type="text">
                        </label>
                       <!-- <label class="hw">
                            <span>存储扩容(GB)</span>
                            <input type="text" class="g-ipt ipt-m" disabled="disabled" oninput="this.value=this.value.replace(/[^\d]/g,'')" id="expandStorageSpace">
                        </label>-->
                        <label class="hw">
                            <span>群人数上限(人)</span>
                            <input type="text" class="g-ipt ipt-m" disabled="disabled" ce-model="groupNumLimit" oninput="this.value=this.value.replace(/[^\d]/g,'')">
                        </label>
                        <label>
                            <span>视频参与人数上限(人)</span>
                            <input type="text" class="g-ipt ipt-m"  disabled="disabled" ce-model="videoNumLimit" oninput="this.value=this.value.replace(/[^\d]/g,'')">
                            <span style="width:130px">(最多可添加20人)</span>
                        </label>
                       <!-- <label class="hw crmvisible">
                            <span>CRM上级可见数据范围</span>
                            <select name="" class="g-ipt ipt-m" disabled="disabled" ce-model="crmVisibleRange">
                                <option value="">请选择</option>
                                <option value="1">所有下级数据</option>
                                <option value="2">直属下级数据</option>
                            </select>
                        </label>
                        <label class="hw">
                            <span>WEB扫码授权</span>
                            <select name="" class="g-ipt ipt-m" disabled="disabled" ce-model="webSanCodeAuth">
                                <option value="">请选择</option>
                                <option value="0">全部授权</option>
                                <option value="1">未授权</option>
                                <!--<option value="2">部分授权</option>
                            </select>
                        </label>-->
                    </p>

                    <!--<div id="tbOperation" class="tb">
                        <p class="tr off">
                            <button class="btn-blue" id="sBtnChangeStatistics" >保存</button>
                        </p>
                        <table>
                            <thead>
                                <tr>
                                    <th>序号</th>
                                    <th>扩容时间</th>
                                    <th>扩容数量</th>
                                    <th>操作人</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                        <div class="pager"></div>
                    </div>-->

                </div>
            </section>

        </div>
     
    </div>
</script>

