<script type="text/template" id="trPdtLst">
    <% _.each(content,function( value ,index ){ %>
    <tr>
        <td></td>
        <td><%=value.name%></td>
        <td><%=value.deviceMaxCount%></td>
        <td><%=value.textMessageCount %></td>
        <td><%=value.textMessageMethod%></td>
        <td><%=value.storage%>  (GB)</td>
        <td><%=value.freeStr%></td>
        <td><a class="entList" data-id="<%=value.id%>">企业</a> <a class="addEnt" data-id="<%=value.id%>">添加企业</a></td>
        <td></td>
    </tr>
    <% }) %>
</script>
