<div class="p-vendorEntList p-list" js="true">
   <div class="m-list m-ent-lst u-tablelist">
        <div class="list-main">
            <div class="list-header">
                <h3>
                    企业列表
                </h3>
            </div>
            <div class="list-bar">
                <div class="list-bar-btns">
                    <button id="btnSearch" class="btn-blue">查询</button>
                </div>
                <div class="list-bar-input">
                    <label>
                        <span>企业名称</span>
                        <input id="eiName" class="g-ipt ipt-m"  type="text" ce-model="en"/>
                    </label>
                    <label>
                        <span>企业帐号</span>
                        <input id="eiAccount" class="g-ipt ipt-m" type="text" ce-model="ea"/>
                    </label>
                    <label>
                        <span>开通时间</span>
                        <input type="text" id="OpenSTime"> ---- <input type="text" id="OpenETime">
                    </label>
                    <label>
                        <span>企业状态</span>
                        <select ce-model="enterpriseStatus">
                            <option value="">全部</option>
                            <option value="1">待开通</option>
                            <option value="2">已开通</option>
                            <option value="3">已作废</option>
                            <option value="4">已停用</option>
                            <option value="5">已删除</option>
                        </select>
                    </label>
                    <label>
                        <span>来源</span>
                        <select id="eiSource" ce-model="source">
                            <option value="">全部</option>
                        </select>
                    </label>
                    <label>
                        <span>行业</span>
                        <select id="eiIndustry" ce-model="industry">
                            <option value="">全部</option>
                        </select>
                    </label>
                    <label>
                        <span>省市</span>
                        <select id="eiProvince" ce-model="province">
                            <option value="">全部</option>
                        </select>
                    </label>
                    <label>
                        <span>城市</span>
                        <input id="eiCity" class="g-ipt ipt-s"  type="text" ce-model="city"/>
                    </label>
                    
                    <label>
                        <span>联系电话</span>
                        <input id="eiMobile" class="g-ipt ipt-m"  type="text" ce-model="tel"/>
                    </label>
                </div>
            </div>
            <div class="list-content">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th style="width:120px;">企业名称</th>
                        <th style="width:130px;">帐号</th>
                        <th style="width:120px;">开通日期</th>
                        <th style="width:100px;">企业状态</th>
                        <th style="width:150px;">CRM信息可见授权</th>
                        <th style="width:110px;">手机设备授权</th>
                        <th style="width:400px;">操作</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody ce-collection="list">
                        <td></td>
                        <td><%=item.enterprise.enterprisename%></td>
                        <td><%=item.enterprise.enterpriseaccount%></td>
                        <td><%=item.createtimestr%></td>
                        <td><%=item.runstatusstr%></td>
                        <td><%=item.crmvisible%></td>
                        <td><%=item.authStr%></td>
                        <td>

                            <a class="info-detail" data-id="<%=item.enterprise.enterpriseid%>" data-status="<%=item.enterprise.runstatus%>">查看</a>
    
                            <a class="info-trace" data-id="<%=item.enterprise.enterpriseid%>" data-status="<%=item.enterprise.runstatus%>">跟踪记录</a>
                            
                            <%if("2" == item.enterprise.runstatus){%>
                            <a data-permissions="F009001" data-id="<%=item.enterprise.enterpriseid%>" class="info-enterpriseAssign">&nbsp;分配</a>
                            <%}%>

                            <% if(item.canIncrease){ %>
                            <a class="info-zengbangong" data-id="<%=item.enterprise.enterpriseid%>" data-account="<%=item.enterprise.enterpriseaccount%>" data-status="<%=item.enterprise.runstatus%>">增购办公版</a>
                            <a class="info-zengyingxiao" data-id="<%=item.enterprise.enterpriseid%>" data-account="<%=item.enterprise.enterpriseaccount%>" data-status="<%=item.enterprise.runstatus%>">增购营销版</a>
                            <% } %>

                            <% if(item.canRenew){ %>
                            <a class="info-renewbangong" data-id="<%=item.enterprise.enterpriseid%>" data-account="<%=item.enterprise.enterpriseaccount%>" data-status="<%=item.enterprise.runstatus%>">续费办公版</a>
                            <a class="info-renewyingxiao" data-id="<%=item.enterprise.enterpriseid%>" data-account="<%=item.enterprise.enterpriseaccount%>" data-status="<%=item.enterprise.runstatus%>">续费营销版</a>
                             <% } %>
							 
							 <a class="info-custom"  data-enterpriseId="<%=item.enterprise.enterpriseid%>">联合跟进人</a>&nbsp;&nbsp;
                        </td>
                        <td></td>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="list-pager">
            
        </div>
    </div>
</div>
