<script type="text/template" id="trEme">
    <% _.each(content,function( value ,index ){ %>
    <tr>
        <td></td>
        <td><%=value.enterprise ? value.enterprise.enterpriseAccount : ''%></td>
        <td><%=value.enterprise ? value.enterprise.enterpriseName : ''%></td>
        <td><%=value.name%></td>
        <td><%=value.mobile%></td>
        <td><%=value.email%></td>
        <td><%=value.title%></td>
        <td><%=value.admin ? '是' : '否'%></td>
        <td>
            <em class="accountdetail" data-runStatus="<%=value.enterprise  &&value.enterprise.runStatus%>" data-contactPhone="<%=value.enterprise &&value.enterprise.contactPhone%>" data-contactName="<%=value.enterprise &&value.enterprise.contactName%>" data-id="<%=value.id.employeeId%>" data-account="<%=value.enterprise && value.enterprise.enterpriseId%>">查看详情</em>
		</td>
        <td></td>
    </tr>
    <% }) %>
</script>


<script type="text/template" id="accountDetail">
    <div class="m-accountdetail">
		<h3 style="font-size:16px;font-weight:bold;">企业详情</h3>
		<p><label><span>管理员姓名</span><input type="text" disabled="disabled" ce-model="contactname"></label></p>
		<p><label><span>管理员电话</span><input type="text" disabled="disabled" ce-model="contactphone"></label></p>
        <p><label><span>开通状态</span>
        	<select disabled="disabled" ce-model="runstatus">
        		<option value="1">待开通</option><option value="2">已开通</option>
        		<option value="3">已作废</option><option value="4">已停用</option>
        	</select>
        </label></p>
       
		<h3 style="font-size:16px;font-weight:bold;">账号详情</h3>
        <p><label><span>版本</span><input type="text" disabled="disabled" ce-model="version"></label></p>
        <p><label><span>是否试用</span><select disabled="disabled" ce-model="istry"><option value="1">是</option><option value="0">否</option></select></label></p>
        <p class="trytimep"><label><span>试用截止时间</span><input type="text" disabled="disabled" ce-model="endtime"></label></p>
        <p class="tryboxp"><label><span>试用包</span><span ce-collection="trylist" class="trybox"><b><%=item%>天</b></span></p>
    </div>
</script>


