<script type="text/template" id="trtpl">
	<% _.each( content, function( item , index ){%>
		<tr>
			<td></td>
			<td><%=item.name%></td>
			<td><%=item.id%></td>
			<td><%=item.cityStr%></td>
			<td><%=item.statusStr%></td>
			<td> <a data-id="<%=item.id%>" class="agent-edit">编辑</a> <a data-id="<%=item.id%>" class="agent-detail">查看用户</a> </td>
			<td></td>
		</tr>
	<% }) %>
</script>
<script type="text/template" id="cmpCountResult">
	<h3>查询结果</h3>
	<div id="console">
		<p>查询开始时间: <span class="hl"><%=value.dst%></span></p>
		<p>查询结束时间: <span class="hl"><%=value.dct%></span></p>
		<p>共有符合条件的企业: <span class="hl"><%=value.count%></span> 个</p>
	</div>
	<% if ( value.canGenerate ) { %>
	<p class="btns"><button id="btnGenerate" class="btn-blue" data-permissions="M009019002">生成报告</button><button id="btnDownload" class="btn-blue invisiable" data-permissions="M009019003">下载报告</button></p>
	<% } %>
</script>
<script type="text/template" id="cmpGenerateResult">
	<p>生成报告开始时间: <span class="hl"><%=value.dst%></span></p>
	<p>生成报告结束时间: <span class="hl"><%=value.dct%></span></p>
</script>